- title "Tasks"

%table
  %tr
    %th.color_bar
    %th Name
    %th Due at

  - @tasks.each do |task|
    %tr
      %td.color_bar
      %td= link_to_named_after task
      %td= task.due_at

%br

= link_to 'New Task', new_task_path
